body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
}

h1{

}

#countdown{

}

#message{

}

.board {
  height: 540px;
  width: 630px;
  border-radius: 2%;
  background-color: blue;
  border: 10px solid rgb(0, 0, 170);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
}



button {
  padding: 10px;
}