body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
}

.board {
  height: 540px;
  width: 630px;
  background-color: gold;
  border: 10px solid goldenrod;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}